<!DOCTYPE html>
<html lang="es-Es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Animalandia</title>
    <link rel="shortcut icon" href="../assets/img/gato.svg" type="image/x-icon" />
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../assets/css/normalize.css" />
    <link rel="stylesheet" href="../assets/css/maqueta.css" />
  </head>
</head>
<body>
  <header>
    <div class="logo">
      <img src="../assets/img/logo.jpg" alt="Imagen de logo">
    </div>
    <div class="botones">
      <a href="login.html"><button class="b-azul"><i><img src="../assets/img/of.svg" alt="regitrate"></i>
          Ingresar
      </button></a>
      <button class="b-morado">
        <i class='bx bx-user-plus  bx-sm'></i>
        Registrarse
      </button>
    </div>
  </header>
  <nav>
    <a href="" class="item">Home</a>
    <a href="Equipos.html"class="item">Equipos</a>
    <a href="Servicios.html"class="item">Servicios</a>
    <a href="Sabiasque.html"class="item">Agenda tu cita</a>
    <a href="contacto.html"class="item">contactos</a>
    <a href="Adopta.html"class="item">Adopta</a>
  </nav>
<main id="Adopcionesss">
  <section id="Adoptame1">
      <article  class="Adopta1">
          <div><strong>Chocolate</strong></div>
          <div>
            <ul class="listadopta">
              <li>Edad:1 mes</li>
              <li>Tamaño: 9 pulgadas</li>
            </ul>
          </div>
      </article>
      <article class="Adopta2">
          <div><strong>Coco</strong></div>
          <div>
            <ul class="listadopta">
              <li>Edad:1 mes</li>
              <li>Tamaño: 9 pulgadas</li>
            </ul>
          </div>
      </article>
      <article  class="Adopta3">
        <div><strong>Rupon</strong></div>
        <div>
          <ul class="listadopta">
            <li>Edad:1 mes</li>
            <li>Tamaño: 9 pulgadas</li>
          </ul>
        </div>
    </article>
    <article class="Adopta4">
        <div><strong>Kiwi</strong></div>
        <div>
          <ul class="listadopta">
            <li>Edad:1 mes</li>
            <li>Tamaño: 9 pulgadas</li>
          </ul>
        </div>
    </article>
  </section>
  
  <section id="Adoptame2">
        <article class="Adopta_1">
          <h1>Amigos incondicionales</h1>
        </article>
        <article class="Adopta_2">
          <p>cuando adoptas un perrito o un gatico estás rescatando a un ser que nació en las calles o que incluso fue abandonado por lo que sentirás una gran satisfacción de salvarlo de la soledad y el desamor. <br><br>

            Baño, corte de pelo, recorte de uñas, cuidado de los oídos y limpieza de la cara son sólo algunos de los cuidados que necesitará tu perro. Lo fundamental es que el perro se sienta a gusto con las personas y tolere que lo toquen, que esté tranquilo y permita que le hagan estas cosas.
        </article>
  </section>
</main>

    <footer>
      <div class="box-footer">
          <div class="foot">
            <i class='bx bx-building  bx-md' style='color:#ffffff'></i>
            <h3>Sedes</h3>
            <p>Sede Kennedy <br>Sede suba <br>Sede Fontibon <br>Sede Centro</p>
          </div>
          <div class="foot">
            <i class='bx bx-building bx-md' style='color:#ffffff'  ></i>
            <h3>Sedes</h3>
            <p>Sede Kennedy <br>Sede suba <br>Sede Fontibon <br>Sede Centro</p>
          </div>
          <div class="foot">
            <i class='bx bx-building bx-md' style='color:#ffffff'  ></i>
            <h3>Sedes</h3>
            <p>Sede Kennedy <br>Sede suba <br>Sede Fontibon <br>Sede Centro</p>
          </div>
      </div>
    </footer>
    
    
    </body>